<% include header %>
<h2>书写一个留言</h2>
<form action="" method="post">
    <label for="tit">
        标题：
        <input type="text" name="tit" value="">
    </label>
    <br>
    <br>
    <label for="ctn">
        内容：
        <textarea name="ctn" id="" cols="30" rows="10"></textarea>
    </label>
    <br>
    <br>
    <input type="submit" value="提交"></input>
</form>
<% include footer %>